/* ======================= VARIABLES ======================= */
:root {
  /* background colors */
  --main-bg-color: #ffffff;
  --secondary-bg-color: #939393;
  --cards-bg-color: #f5f5f5;
  --price-bg-color: #eeeeee;
  --btn-bg-color: #263238;

  /* font colors */
  --main-font-color: #8f95a5;
  --secondary-font-color: #263238;
  --additional-font-color: #000000;
  --amount-font-color: #2a3246;

  --price-font-color: #263238;
  --secondary-price-font-color: #546269;

  --btn-font-color: #ffffff;
  --btn-secondary-font-color: #000000;

  --logo-first-font-color: #000000;
  --logo-secondary-font-color: #939393;

  --footer-border: #c4c4c4;

  /* font-family: 'Poppins', sans-serif; */
}

/* ======================= MAIN STYLES ======================= */

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);

  font-family: "Poppins", sans-serif;

  /* font-weight: 400; */ /* font-size: 14px; */
  line-height: calc(21 / 14);
  /* letter-spacing: 0.03em; */
}
/* ======================= RESET STYLES ======================= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.list {
  margin: 0; /* прибираєм відступи */
  padding: 0;
  list-style: none; /* прибираєм крапочки списку */
}
.btn {
  cursor: pointer;
  border: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; /* або margin-left margin-right - auto */
  outline: 1px solid tomato;
}

/* ======================= MEDIA ADAPTATION ======================= */

@media screen and (max-width: 574px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 575px) {
  .container {
    width: 540px;
  }
  .logo {
    font-size: 30px;
    line-height: 45px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 737px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 962px;
  }
}
@media screen and (min-width: 1368px) {
  .container {
    width: 1338px;
  }
}
/* ======================= MEDIA ADAPTATION END ======================= */

/* ======================= HEADER ======================= */
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
/* .header {
} */
.logo {
  color: var(--logo-first-font-color);
  font-size: 24px;
  line-height: calc(36 / 24);
  padding-top: 35px;
  padding-bottom: 30px;
}
@media screen and (min-width: 575px) {
  .logo {
    font-size: 30px;
    line-height: calc(45 / 30);
    padding-bottom: 11px;
  }
}
@media screen and (min-width: 767px) {
  .logo {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 992px) {
  .logo {
    padding-bottom: 65px;
  }
}
@media screen and (min-width: 1368px) {
  .logo {
    font-size: 36px;
    line-height: calc(54 / 36);
    padding-top: 55px;
  }
}

.second-logo {
  color: var(--logo-secondary-font-color);
  /* font-size: 24px;
  line-height: calc(36 / 24); */
}

/* .header-nav {
} */
.header-btn {
  border: none;
  background-color: #fff;
}
/* =======================  MAIN HERO SECTION ======================= */
.main {
  text-align: center;

  padding-bottom: 50px;
}
.main-title {
  margin-top: 16px;

  font-weight: 600;
  font-size: 24px;
  line-height: calc(36 / 24);

  color: var(--additional-font-color);
}
@media screen and (min-width: 575px) {
  .main-title {
    margin-top: 17px;

    font-weight: 600;
    font-size: 34px;
    line-height: calc(45 / 34);
  }
}
@media screen and (min-width: 767px) {
  .main-title {
    margin-top: 18px;

    font-size: 36px;
    line-height: calc(45 / 36);
  }
}
@media screen and (min-width: 992px) {
  .main-title {
    margin-top: 12px;

    font-size: 48px;
    line-height: calc(64 / 48);
  }
}
@media screen and (min-width: 1368px) {
  .main-title {
    margin-top: 50px;

    font-size: 64px;
    line-height: calc(80 / 64);
  }
}

.main-description {
  margin-top: 20px;
  margin-bottom: 35px;

  font-size: 14px;
  line-height: calc(21 / 14);
}
@media screen and (min-width: 575px) {
  .main-description {
    margin-top: 25px;
    margin-bottom: 37px;

    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 767px) {
  .main-description {
    margin-top: 26px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 992px) {
  .main-description {
    margin-top: 27px;
    margin-bottom: 33px;

    font-size: 20px;
    line-height: calc(30 / 20);
  }
}
@media screen and (min-width: 1368px) {
  .main-description {
    margin-top: 40px;
    margin-bottom: 60px;

    font-size: 24px;
    line-height: calc(36 / 24);
  }
}

.main-btn {
  padding: 18px 95px;
  background-color: var(--btn-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);

  color: var(--btn-font-color);
  border-radius: 5px;
}
@media screen and (min-width: 575px) {
  .main-btn {
    padding: 24px 100px;

    font-weight: 500;
    font-size: 18px;
    line-height: calc(27 / 18);
  }
}
@media screen and (min-width: 767px) {
  .main-btn {
    padding: 19px 67px;

    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  .main-btn {
    padding: 22px 87px;

    font-weight: 400;
    font-size: 24px;
    line-height: calc(36 / 24);
  }
}
@media screen and (min-width: 1368px) {
  .main-btn {
    padding: 32px 117px;

    font-weight: 400;
    font-size: 36px;
    line-height: calc(54 / 36);
  }
}

/* ======================= SKILLS SECTION  ======================= */
.skills {
  padding-bottom: 50px;
}
@media screen and (min-width: 575px) {
  .skills {
    padding-bottom: 84px;
  }
}

.skills-title {
  text-align: center;

  padding-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(80 / 24);
  color: var(--additional-font-color);
}
@media screen and (min-width: 575px) {
  .skills-title {
    padding-bottom: 34px;

    font-weight: 600;
    font-size: 30px;
    line-height: calc(80 / 30);
  }
}
@media screen and (min-width: 767px) {
  .skills-title {
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 992px) {
  .skills-title {
    padding-bottom: 50px;

    font-weight: 600;
    font-size: 36px;
    line-height: calc(80 / 36);
  }
}
@media screen and (min-width: 1368px) {
  .skills-title {
    padding-bottom: 95px;

    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
  }
}

@media screen and (min-width: 575px) {
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.skills-card {
  background-color: var(--cards-bg-color);
}
@media screen and (min-width: 575px) {
  .skills-card {
    display: flex;
    width: 240px;
    min-height: 534px;
  }
}
/* @media screen and (min-width: 767px) {
  .skills-card {
  }
}
@media screen and (min-width: 992px) {
  .skills-card {
  }
}
@media screen and (min-width: 1368px) {
  .skills-card {
  }
} */

.skills-card:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 575px) {
  .skills-card:not(:last-child) {
    margin-bottom: 0px;
  }
}

/* .skills-list {
} */
.skills-list-item {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(80 / 18);

  color: var(--secondary-font-color);
}
/* @media screen and (min-width: 575px) {
  .main-title {
  }
}
@media screen and (min-width: 767px) {
  .main-title {
  }
}
@media screen and (min-width: 992px) {
  .main-title {
  }
}
@media screen and (min-width: 1368px) {
  .main-title {
  }
} */

.sills-description {
  font-size: 13px;
  line-height: calc(20 / 13);
  margin-bottom: 30px;
}
/* @media screen and (min-width: 575px) {
  .main-title {
  }
}
@media screen and (min-width: 767px) {
  .main-title {
  }
}
@media screen and (min-width: 992px) {
  .main-title {
  }
}
@media screen and (min-width: 1368px) {
  .main-title {
  }
} */

.skills-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(21 / 14);

  padding: 14px 43px;
  margin-left: 0px;

  background-color: var(--btn-bg-color);
  color: var(--btn-font-color);
  border-radius: 5px;
  align-content: start;

  /* transform: rotate(-0.26deg); */
}
@media screen and (min-width: 575px) {
  .skills-btn {
    margin-top: auto;
  }
}
/* @media screen and (min-width: 767px) {
  .main-title {
  }
}
@media screen and (min-width: 992px) {
  .main-title {
  }
}
@media screen and (min-width: 1368px) {
  .main-title {
  }
} */

.card {
  padding: 10px 15px 45px;
}
@media screen and (min-width: 575px) {
  .card {
    padding: 10px 15px 30px;
    display: flex;
    flex-direction: column;
  }
}
/* @media screen and (min-width: 767px) {
  .card {
  }
}
@media screen and (min-width: 992px) {
  .card {
  }
}
@media screen and (min-width: 1368px) {
  .card {
  }
} */
/* ======================= ABOUT_US SECTION ======================= */
.about-us {
  text-align: center;
  padding-bottom: 50px;
}
.about-us-title {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(80 / 24);
  color: var(--additional-font-color);
}
@media screen and (min-width: 575px) {
  .about-us-title {
    font-size: 30px;
    line-height: calc(80 / 30);
  }
}
@media screen and (min-width: 767px) {
  .about-us-title {
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 992px) {
  .about-us-title {
    padding-bottom: 13px;

    font-size: 36px;
    line-height: calc(80 / 36);
  }
}
@media screen and (min-width: 1368px) {
  .about-us-title {
    padding-bottom: 23px;

    font-size: 48px;
    line-height: calc(80 / 48);
  }
}

.about-us-description {
  font-size: 13px;
  line-height: calc(20 / 13);
  margin-bottom: 30px;
}

@media screen and (min-width: 575px) {
  .about-us-description {
    font-size: 14px;
    line-height: calc(21 / 14);
  }
}
@media screen and (min-width: 767px) {
  .about-us-description {
    font-size: 14px;
    line-height: calc(21 / 14);
  }
}
@media screen and (min-width: 992px) {
  .about-us-description {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1368px) {
  .about-us-description {
    font-size: 20px;
    line-height: calc(30 / 20);
  }
}

.about-us-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 575px) {
  .about-us-list {
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }
}
/* @media screen and (min-width: 767px) {
  .about-us-list {
  }
}
@media screen and (min-width: 992px) {
  .about-us-list {
  }
}
@media screen and (min-width: 1368px) {
  .about-us-list {
  }
} */

.about-us-quantity {
  font-weight: 600;
  font-size: 24px;
  line-height: calc(80 / 24);

  color: var(--amount-font-color);
}
/* @media screen and (min-width: 575px) {
  .about-us-quantity {
  }
} */
@media screen and (min-width: 767px) {
  .about-us-quantity {
    font-size: 22px;
    line-height: calc(80 / 22);
  }
}
@media screen and (min-width: 992px) {
  .about-us-quantity {
    font-size: 30px;
    line-height: calc(80 / 30);
  }
}
@media screen and (min-width: 1368px) {
  .about-us-quantity {
    font-size: 48px;
    line-height: calc(80 / 48);
  }
}

.about-us-item {
  font-weight: 400;
  font-size: 15px;
  line-height: calc(22 / 15);
  margin-bottom: 30px;

  color: var(--main-font-color);
}
@media screen and (min-width: 575px) {
  .about-us-item {
    font-size: 14px;
    line-height: calc(21 / 14);

    margin-bottom: 34px;
  }
}
@media screen and (min-width: 767px) {
  .about-us-item {
    font-size: 13px;
    line-height: calc(20 / 13);

    margin-bottom: 80px;
  }
}
@media screen and (min-width: 992px) {
  .about-us-item {
    font-size: 16px;
    line-height: calc(24 / 16);

    margin-bottom: 125px;
  }
}
@media screen and (min-width: 1368px) {
  .about-us-item {
    font-size: 20px;
    line-height: calc(30 / 20);

    margin-bottom: 180px;
  }
}

/* ======================= PRICE SECTION  ======================= */
.price {
  text-align: center;
  padding-bottom: 50px;
}
.price-title {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(80 / 24);
  color: var(--additional-font-color);
}

@media screen and (min-width: 575px) {
  .price-title {
    font-size: 30px;
    line-height: calc(80 / 30);
    padding-bottom: 54px;
  }
}
@media screen and (min-width: 767px) {
  .price-title {
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 992px) {
  .price-title {
    padding-bottom: 20px;

    font-size: 36px;
    line-height: calc(80 / 36);
  }
}
@media screen and (min-width: 1368px) {
  .price-title {
    padding-bottom: 55px;

    font-size: 48px;
    line-height: calc(80 / 48);
  }
}

/* .price-list {
} */
.price-list-item {
  margin-top: 10px;

  font-weight: 600;
  font-size: 18px;
  line-height: calc(28 / 18);

  color: var(--secondary-font-color);
}

@media screen and (min-width: 575px) {
  .price-list-item {
    font-size: 24px;
    line-height: calc(28 / 24);
    margin-top: 20px;
  }
}
@media screen and (min-width: 767px) {
  .price-list-item {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}
@media screen and (min-width: 992px) {
  .price-list-item {
    font-size: 22px;
    line-height: calc(34 / 22);
  }
}
@media screen and (min-width: 1368px) {
  .price-list-item {
    margin-top: 40px;

    font-size: 30px;
    line-height: calc(48 / 30);
  }
}

.price-description {
  margin-top: 25px;

  font-weight: 400;
  font-size: 13px;
  line-height: calc(20 / 13);
}

@media screen and (min-width: 575px) {
  .price-description {
    margin-top: 20px;

    font-size: 14px;
    line-height: calc(21 / 14);
  }
}
@media screen and (min-width: 767px) {
  .price-description {
    margin-top: 15px;
  }
}
@media screen and (min-width: 992px) {
  .price-description {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1368px) {
  .price-description {
    margin-top: 20px;

    font-size: 20px;
    line-height: calc(30 / 20);
  }
}

.price-amount {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;

  width: 170px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(27 / 18);

  color: var(--secondary-font-color);

  background-color: var(--price-bg-color);
  border-radius: 5px;
}

@media screen and (min-width: 575px) {
  .price-amount {
    margin-top: 35px;

    width: 205px;

    font-size: 22px;
    line-height: calc(33 / 22);
  }
}
@media screen and (min-width: 767px) {
  .price-amount {
    font-size: 22px;
    line-height: calc(33 / 22);
  }
}
@media screen and (min-width: 992px) {
  .price-amount {
    font-size: 24px;
    line-height: calc(36 / 24);
  }
}
@media screen and (min-width: 1368px) {
  .price-amount {
    font-size: 30px;
    line-height: calc(45 / 30);
  }
}
.price-amount-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);

  color: var(--secondary-price-font-color);
}
@media screen and (min-width: 575px) {
  .price-amount {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
/* @media screen and (min-width: 767px) {
  .price-amount {
  }
}
@media screen and (min-width: 992px) {
  .price-amount {
  }
} */
@media screen and (min-width: 1368px) {
  .price-amount {
    font-size: 18px;
    line-height: calc(27 / 18);
  }
}

.price-card:not(:last-child) {
  margin-bottom: 60px;
}
/* ======================= CONTACTS SECTION  ======================= */
.contacts {
  text-align: center;
  padding-bottom: 50px;
}

@media screen and (min-width: 575px) {
  .contacts {
    padding-bottom: 145px;
  }
}
@media screen and (min-width: 767px) {
  .contacts {
    padding-bottom: 115px;
  }
}
@media screen and (min-width: 992px) {
  .contacts {
    padding-bottom: 160px;
  }
}
@media screen and (min-width: 1368px) {
  .contacts {
    padding-bottom: 130px;
  }
}

.contacts-title {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(80 / 24);
  color: var(--additional-font-color);
}
@media screen and (min-width: 575px) {
  .contacts-title {
    font-size: 30px;
    line-height: calc(80 / 30);
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 767px) {
  .contacts-title {
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 992px) {
  .contacts-title {
    padding-bottom: 5px;

    font-size: 36px;
    line-height: calc(80 / 36);
  }
}
@media screen and (min-width: 1368px) {
  .contacts-title {
    padding-bottom: 35px;

    font-size: 48px;
    line-height: calc(80 / 48);
  }
}

.contacts-description {
  margin-top: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);
}
@media screen and (min-width: 575px) {
  .contacts-description {
    margin-top: 35px;

    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 767px) {
  .contacts-description {
    margin-top: 5px;

    font-size: 14px;
    line-height: calc(21 / 14);
  }
}
@media screen and (min-width: 992px) {
  .contacts-description {
    margin-top: 5px;

    font-size: 16px;
    line-height: calc(24 / 16);
  }
}
@media screen and (min-width: 1368px) {
  .contacts-description {
    margin-top: 30px;

    font-size: 20px;
    line-height: calc(30 / 20);
  }
}

.contacts-form {
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

@media screen and (min-width: 575px) {
  .contacts-form {
    /* display: inline; */
    position: relative;
    margin-top: 60px;
  }
}
@media screen and (min-width: 767px) {
  .contacts-form {
    display: flex;
    margin-top: 25px;
    row-gap: 6px;
  }
}
@media screen and (min-width: 992px) {
  .contacts-form {
    margin-top: 34px;
    row-gap: 14px;
  }
}
@media screen and (min-width: 1368px) {
  .contacts-form {
    margin-top: 50px;
    row-gap: 12px;
  }
}

.contacts-email {
  margin-top: 30px;
  width: 100%;
  height: 50px;

  font-size: 12px;
  line-height: calc(18 / 12);
  color: var(--main-font-color);

  border: 1px solid var(--main-font-color);
  border-radius: 10px;

  padding-left: 25px;
}

@media screen and (min-width: 575px) {
  .contacts-email {
    margin-top: 60px;

    width: 100%;
    height: 60px;

    font-size: 13px;
    line-height: calc(20 / 13);
  }
}
@media screen and (min-width: 767px) {
  .contacts-email {
    width: 283;
    height: 50px;

    font-size: 12px;
    line-height: calc(18 / 12);
    border-radius: 5px;

    padding-left: 25px;
  }
}
@media screen and (min-width: 992px) {
  .contacts-email {
    width: 323px;
    height: 50px;

    font-size: 14px;
    line-height: calc(21 / 14);
    border-radius: 10px;

    padding-left: 30px;
  }
}
@media screen and (min-width: 1368px) {
  .contacts-email {
    width: 450px;
    height: 80px;

    font-size: 16px;
    line-height: calc(24 / 16);
    border-radius: 10px;

    padding-left: 25px;
  }
}

.contacts-btn {
  height: 60px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(21 / 14);

  /* padding: 20px 110px; */
  margin-left: 0px;

  background-color: var(--btn-bg-color);
  color: var(--btn-font-color);
  border-radius: 10px;
}

@media screen and (min-width: 575px) {
  .contacts-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 193px;
    height: 60px;

    font-size: 16px;
    line-height: calc(24 / 16);

    border-radius: 10px;
  }
}
@media screen and (min-width: 767px) {
  .contacts-btn {
    height: 50px;

    font-size: 13px;
    line-height: calc(20 / 13);

    margin-left: 6px;

    border-radius: 5px;
  }
}
@media screen and (min-width: 992px) {
  .contacts-btn {
    height: 60px;

    font-size: 16px;
    line-height: calc(24 / 16);

    margin-left: 14px;

    border-radius: 10px;
  }
}
@media screen and (min-width: 1368px) {
  .contacts-btn {
    height: 80px;

    font-size: 20px;
    line-height: calc(30 / 20);

    margin-left: 12px;
  }
}

/* ======================= FOOTER  ======================= */
.footer {
  text-align: center;
  padding-bottom: 50px;
}
.footer-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--footer-border);
}
/* @media screen and (min-width: 575px) {
  .footer-container {
    display: flex;
  }
} */
.footer-list {
  margin-top: 15px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  list-style: none;
  justify-content: center;
  /* прибираєм крапочки списку */
}

.footer-list-item:not(:first-child):before {
  content: "";
  display: inline-block;
  align-items: center;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--footer-border);
}

.footer-link {
  font-weight: 500;
  font-size: 11px;
  line-height: calc(16 / 11);

  color: var(--main-font-color);
}
/* .footer-container {
} */
.footer-logo {
  display: block;
  color: var(--logo-first-font-color);
  font-size: 24px;
  line-height: calc(36 / 24);
  padding-top: 25px;
}

@media screen and (min-width: 575px) {
  .footer-logo {
    display: block;

    font-size: 30px;
    line-height: calc(45 / 30);
    padding-top: 25px;
  }
}
@media screen and (min-width: 767px) {
  .footer-logo {
    display: block;
    font-size: 30px;
    line-height: calc(45 / 30);
    padding-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  .footer-logo {
    padding-top: 22px;
  }
}
@media screen and (min-width: 1368px) {
  .footer-logo {
    font-size: 36px;
    line-height: calc(54 / 36);
    padding-top: 30px;
  }
}

.footer-second-logo {
  color: var(--logo-secondary-font-color);
}

/* МЕНЮ КНОПКА codepen */

/* #menu35:checked + label {
  div:first-child {
    top: 2%;
    left: 7%;
    width: 50%;
    transform: rotate(45deg);
    transition: width 0.15s, top 0.15s 0.15s, left 0.15s 0.15s,
      transform 0.15s 0.15s;
  }
  div:nth-child(2) {
    transform: rotate(-45deg);
    transition: transform 0.15s 0.15s;
  }
  div:nth-child(3) {
    width: 50%;
    right: 7%;
    top: 47%;
    transform: rotate(45deg);
    transition: width 0.15s, top 0.15s 0.15s, right 0.15s 0.15s,
      transform 0.15s 0.15s;
  }
} */
/* #menu2:checked+label {
  div:first-child {
    opacity: 0;
    top: 20px;
    width: 0px;
    transform: rotate(-45deg);
  }
  div:nth-child(2) {
    top: 12px;
    transform: rotate(-45deg);
    width: 35px;
  }
  div:nth-child(3) {
    top: 12px;
    transform: rotate(45deg);
    width: 35px;
  }
} */
