/* ======================= VARIABLES ======================= */
:root {
  /* background colors */
  --main-bg-color: #ffffff;
  --secondary-bg-color: #939393;
  --cards-bg-color: #f5f5f5;
  --btn-bg-color: #263238;

  /* font colors */
  --main-font-color: #8f95a5;
  --secondary-font-color: #263238;
  --additional-font-color: #000000;
  --price-font-color: #2a3246;
  --secondary-price-font-color: #546269;

  --btn-font-color: #ffffff;
  --btn-secondary-font-color: #000000;

  --logo-first-font-color: #000000;
  --logo-secondary-font-color: #939393;
}

/* ======================= RESET STYLES ======================= */
body {
  background-color: var(--main-bg-color);
  /* font-family: var(--main-font); */
  color: var(--main-font-color);
  /* font-size: 14px;
  letter-spacing: 0.03em; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}
.list {
  margin: 0; /* прибираєм відступи */
  padding: 0;
  list-style: none; /* прибираєм крапочки списку */
}
